:root{
    --blue: #18A0CA;
    --blue-light: #81D8F3;
    --red: #B82333; 
    --yellow: #E3C739;
    --white: #fff;
    --gray: #e1e1e1;
}

.color-accordion{
    background-color: var(--blue);
}

.color-white{
    color: var(--white);
}

.back-color{
    background-color: var(--gray);
}